.form-control-position {
    top: 10px !important;
}

.position_new {
    position: relative;
}

.position_new1 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 30%;
}

.form-input {
    width: 100%;
    box-sizing: border-box !important;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.validation {
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

@media (min-width: 320px) and (max-width: 321px) {
    .height-100v {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 322px) and (max-width: 767px) {
    .height-100v {
        padding-top: 70px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 370px) and (height: 667px) {
    .height-100v {
        padding-top: 120px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 375px) and (height: 812px) {
    .height-100v {
        padding-top: 190px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .height-100v {
        padding-top: 150px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .height-100v {
        padding-top: 290px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .height-100v {
        padding-top: 470px !important;
        padding-bottom: 0px !important;
    }
}