.tab-content {
    padding-left: 15px !important;
    padding-right: 15px;
}

.form-outline .form-control {
    padding: .33em 0.4em;
}

.modal-body .form-label {
    margin-bottom: 0rem;
}

.dataTables_empty {
    border-bottom: 0px solid #eee;
}

.nav-tabs {
    padding-left: 15px;
}

.form-outline .form-control {
    margin-top: 0%;
    font-size: 15px;
}

.form-outline .form-control~.form-label {
    position: absolute;
    top: 0;
    font-size: 15px;
}

.addBtnForm {
    margin-right: 0%;
    /* margin-top: 11.5%; */
}

.addbutton11:hover {
    color: green;
}

.addbutton11:focus {
    color: green;
}

.addbutton:focus {
    color: green;
}

label {
    display: inline-flex;
    font-weight: 100 !important;
    color: rgb(134, 125, 125) !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    display: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

.addbutton {
    color: green!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: green;
    margin-right: 2%;
}

.addbutton1 {
    background-color: #f0f8ff!important;
    float: right;
    padding: 2px 5px;
    border-radius: 50px;
    right: 25.5%;
    position: absolute;
    z-index: 1;
    color: green;
    top: 50%;
}

.addbutton:hover {
    color: green;
}

.btn_e_i_d {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 37%;
    padding-right: 0%;
}

.btn1_e1_i1_d1 {
    float: right;
    right: 0%;
    position: relative;
    z-index: 1;
    top: 38.5%;
    width: 31%;
}

#saveCloseBtnEdit {
    padding: 0.5rem !important;
}

#saveNewBtnEdit {
    padding: 0.5rem !important;
}

.btn2_e2_i2_d2 {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 45%;
    padding-top: 0%;
}

.btn3_e3_i3_d3 {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 45%;
    padding-top: 0%;
}

.addbutton11 {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: green !important;
    margin-right: 2%;
}

.btnexport {
    color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%;
}

.btnexport11 {
    color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%;
}

.btninport {
    color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%;
}

.btninport11 {
    color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%;
}

.btnupload {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(63, 81, 181);
}

.btnpencil {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(63, 81, 181);
    z-index: 1;
}

.btntrasht {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(244, 67, 54);
    z-index: 1;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #ffffff;
    color: #000;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #ffffff;
    color: #000;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #ffffff;
    color: #000;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #000!important;
}

.dataTables_length,
.dataTables_info {
    visibility: initial !important;
}

#example_length {
    visibility: hidden;
}

#saveCloseBtn {
    padding: 8px !important;
}

#saveNewBtn {
    padding: 8px !important;
}

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input {
    width: auto;
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 100;
    color: #000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
    background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
    background: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    border: 0px solid;
}

.page-item.active .page-link {
    background-color: #03a9f4!important;
    border-radius: 50px;
}


/* .margindiv {
    margin-top: 74px!important;
    width: 141% !important;
    margin-left: -41%!important;
} */


/* .datatbl {
    width: 69% !important;
    margin-left: 30%;
} */

#mySidenav {
    margin-top: 60px;
}

.login-details {
    min-width: 24%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    border-radius: 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}

.form-input {
    width: 100%;
    box-sizing: border-box !important;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.position1 {
    position: relative
}

.position2 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 30%;
}

.login-header-style {
    font-size: 20px;
    color: #0275d8;
    font-weight: 500;
    text-align: center;
}

::ng-deep .login-details .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.55em 0 0.55em 0 !important;
}

::ng-deep .login-details .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.65em) scale(0.75) !important;
    font-weight: 500;
    width: auto;
    background-color: white;
    padding-bottom: 0px;
    height: auto;
    padding-left: 2px;
    font-size: 16px;
    padding-right: 8px !important;
}

::ng-deep .login-details .mat-form-field-label {
    background-color: white !important;
    transform: translateY(-0.30em) scale(1) !important;
    font-size: 12px;
}

.form-input .mat-icon {
    color: black;
    opacity: 0.5;
    cursor: pointer;
    font-size: 22px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-button .mat-icon {
    color: white;
    font-size: 18px !important;
    line-height: 22px;
}

.signup-button .mat-icon {
    color: white;
    font-size: 18px !important;
    line-height: 22px;
}

.login-button:hover:not([disabled]),
.login-button:focus:not([disabled]),
.signup-button:hover:not([disabled]),
.signup-button:focus:not([disabled]) {
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    color: white !important;
    border: none;
    outline: none;
}

.color-info {
    color: grey !important;
}

.color-danger {
    color: red !important;
    font-weight: 500;
    font-size: 11px !important;
}

.rememberMe-container {
    display: flex;
    float: left;
    justify-content: left !important;
}

.rememberMe-style {
    color: grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.login-button,
.signup-button {
    text-align: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    color: white !important;
    align-items: center;
    height: 32px;
    min-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: 400 !important;
    line-height: 32px;
    background-color: #0275d8 !important;
    border-color: transparent;
}

.signup-button {
    background-color: #5cb85c !important;
}

.login-action-buttons {
    margin-top: 15px;
    align-items: center;
}

h1.framework-app-name {
    margin-left: 8px;
    text-align: center !important;
}

.framework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-color {
    max-height: 60px;
    background-color: rgb(90, 130, 193);
    color: white !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::ng-deep #data-grid-container {
    max-height: 700px;
    box-shadow: 2px 4px 8px grey;
}

::ng-deep .dx-datagrid .dx-row>td {
    padding-bottom: 2px;
    padding-top: 2px;
}

::ng-deep .dx-datagrid .dx-row>th {
    font-size: 14px !important;
}

::ng-deep .dx-checkbox-icon {
    border: 1px solid grey !important;
    border-radius: 50% !important;
}

::ng-deep .dx-texteditor:after {
    border: none !important;
}

::ng-deep .dx-pager .dx-page-sizes .dx-page-size {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    padding: 0px !important;
    text-align: center !important;
    outline: none !important;
}

::ng-deep .dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
    outline: none !important;
}

::ng-deep .dx-pager .dx-pages .dx-page {
    outline: none !important;
}

.mat-icon-button-style {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    background-color: aliceblue;
}

.mat-icon-button-style:hover {
    box-shadow: 2px 4px 8px grey;
}

.mat-icon-style {
    font-size: 20px !important;
}

li.active {
    color: red;
}

.data-grid-header-style {
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #0275d8;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:active {
    color: #000;
    background-color: #fff;
}

.navbar-nav a:active,
.selected {
    color: #fff;
    background-color: rgb(6, 111, 197);
}

.navDiv {
    margin-top: 0%;
}

.current {
    background: #03a9f4;
    ;
}

.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    height: 55px;
}

.sidenav {
    height: 100%;
    /* width: 210px; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #066fc5;
    overflow-x: hidden;
    padding-top: 0px;
}


/* .dropdown-toggle:after {
    display: none;
} */

.btn-group .dropdown-toggle::after {
    display: none;
}

.main {
    margin-left: 210px;
    font-size: 28px;
    padding: 0px 10px;
}

.sidenav a {
    background-color: #2196f3;
    color: #fff;
}

.navbar-dark .navbar-brand {
    margin-top: 0px;
    margin-left: 10px;
}

.dataTables_length,
.dataTables_info {
    visibility: hidden;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.fileuploadcolor {
    color: #3f51b5;
}

.deletecolor {
    color: #f44336;
}

#exampleModalLabel {
    font-size: 15PX;
}

.modal {
    padding-right: 0px !important;
}

.btn-danger {
    padding: 0.5rem 0.5rem !important;
}

.select_form {
    width: 86% !important;
    height: 54%!important;
    border: none!important;
    background: white!important;
    border-bottom: 2px solid #1266f1!important;
    /* margin-bottom: 18px; */
}

.md_space {
    margin-top: 1%;
}

#technology,
#duration,
#comments,
#year {
    width: 86%;
    height: 54%;
    border: none;
    background: white;
    border-bottom: 2px solid #1266f1;
}

#technologyEdit,
#durationEdit,
#commentsEdit,
#yearEdit {
    width: 86%;
    height: 54%;
    border: none;
    background: white;
    border-bottom: 2px solid #1266f1;
}

.form-label {
    margin-bottom: .5rem;
    color: rgb(24, 110, 214);
}

.columnwidth {
    width: 50px;
}

.bcolor {
    color: #4d8ad0;
}

.firstblock {
    /* border: 1px solid whitesmoke; */
    padding: 10px;
    border-radius: 4px;
    /* box-shadow: 2px 3px 8px rgba(0, 0, 0, .3); */
}


/* .datatbl {
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 4px;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, .3);
} */

.modal-lg {
    max-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}


/* added by karishma */

.form-outline .form-control~.lbl {
    position: absolute;
    top: -20px;
    left: .75rem;
    padding-top: .37rem;
    background: #fff;
}

.editBorder {
    border: 1px solid #d3d3d3 !important;
}

INPUT:not(:-webkit-autofill),
SELECT:not(:-webkit-autofill),
TEXTAREA:not(:-webkit-autofill) {
    animation-name: onautofillcancel;
}

.form-outline .form-control.active~.lbl,
.form-outline .form-control:focus~.lbl {
    -webkit-transform: translateY(0.1rem) translateY(.1rem) scale(.8);
    transform: translateY(0.1rem) translateY(.1rem) scale(.8);
    color: blue !important;
    background: #fff !important;
}

.form-outline .form-control.active~.form-label,
.form-outline .form-control:focus~.form-label {
    background: #fff !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 1px solid #111;
}

#EmployeeDetailsModel {
    font-size: 15px;
    margin-bottom: -5px;
}

#btnSaveAndClose {
    padding: .625rem .5rem .5rem;
}

#btnSaveAndCreateNew {
    padding: .625rem .5rem .5rem;
}

#btnAddProject {
    padding: .625rem .5rem .5rem;
}

#btnAddPerformanceDetails {
    padding: .625rem .5rem .5rem;
}

#technology {
    padding-top: 0px !important;
}

.form-outline .form-control {
    border: 1px solid;
}

#password {
    margin-top: 5%;
}

@media (min-width: 320px) and (max-width: 321px) {
    .modal-footer {
        padding: .1rem !important;
    }
    .nav-tabs .nav-link {
        padding: 17px 10px 16px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    div.dataTables_wrapper div .dataTables_length,
    div.dataTables_wrapper div .dataTables_filter,
    div.dataTables_wrapper div .dataTables_info,
    div.dataTables_wrapper div .dataTables_paginate ul.pagination {
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left;
        -webkit-box-pack: center;
    }
    #EmployeeDetailsModel {
        font-size: 20px;
        margin-bottom: -5px;
    }
    .btn_e_i_d {
        top: auto;
        margin-bottom: 1%;
        width: 30%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
    }
    .nav-tabs .nav-link {
        padding: 17px 20px 16px;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
    }
    .form-outline .form-control {
        margin-top: 5%;
        font-size: 15px;
    }
    #technology,
    #duration,
    #comments,
    #year {
        width: 100%;
        margin-top: 0%;
    }
    .select_form {
        width: 100% !important;
    }
    .login-details {
        min-width: 90%;
    }
}

@media (min-width: 1200px) and (max-width: 1365px) {
    /* .btn_e_i_d {
        right: 2%;
    } */
    .btn2_e2_i2_d2 {
        right: 3% !important;
    }
    .btn3_e3_i3_d3 {
        right: 3% !important;
    }
    #EmployeeDetailsModel {
        margin-bottom: 1.2% !important;
    }
}

.btnpencil:hover {
    color: rgb(63, 81, 181) !important;
}

.btnpencil:focus {
    color: rgb(63, 81, 181) !important;
}

.btntrasht:hover {
    color: rgb(244, 67, 54) !important;
}

.btntrasht:focus {
    color: rgb(244, 67, 54) !important;
}

.btnupload:hover {
    color: rgb(63, 81, 181) !important;
}

.btnupload:focus {
    color: rgb(63, 81, 181) !important;
}