.search-bar {
    margin-top: 0% !important;
}

.modal-content {
    background-color: #ff8800 !important;
}

INPUT:not(:-webkit-autofill),
SELECT:not(:-webkit-autofill),
TEXTAREA:not(:-webkit-autofill) {
    animation-name: onautofillcancel !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
}


/* validation error msg  */

.validation {
    color: #ff8800;
    font-size: 12px;
}

.field-error {
    color: #ff8800;
    font-size: 12px;
}


/* for forget and reset  btn */

.btn_send {
    background-color: #5cb85c !important;
}


/* for signup btn */

.btn_sign_up {
    background-color: #5cb85c !important;
}

.otp_verify {
    background-color: #5cb85c !important;
}


/* for login btn */

.btn_login {
    background-color: #5cb85c !important;
}


/* setting icon */


/* .zmdi {
    margin-top: 20% !important;
} */