.form-group {
    position: relative;
}

.form-control {
    height: 40px;
}

.form-control:focus {
    box-shadow: none;
}

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
    font-weight: normal;
}

.form-control:focus~.form-label {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
    color: #0275d8 !important;
}

.form-label.active {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
}

.form-control:focus {
    border: 1.5px solid#0275d8 !important;
}


.form-control-position {
    position: absolute;
    top: 10px !important;
}

.position1 {
    position: relative
}

.position2 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 27%;
}

.color-info {
    color: grey !important;
}

.color-danger {
    color: red !important;
    font-weight: 500;
    font-size: 11px !important;
}

.rememberMe-container {
    display: flex;
    float: left;
    justify-content: left !important;
}

.rememberMe-style {
    color: grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
}

h1.framework-app-name {
    margin-left: 8px;
    text-align: center !important;
}

.framework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 320px) and (max-width: 321px) {
    .height-100v {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 322px) and (max-width: 767px) {
    .height-100v {
        padding-top: 60px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 370px) and (height: 667px) {
    .height-100v {
        padding-top: 70px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 375px) and (height: 812px) {
    .height-100v {
        padding-top: 140px !important;
        padding-bottom: 0px !important;
    }
}


/* @media (min-width: 410px) and (max-width: 767px) {
    .height-100v {
        padding-top: 70px !important;
        padding-bottom: 0px !important;
    }
} */

@media (min-width: 411px) and (max-width: 414px) {
    .height-100v {
        padding-top: 100px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .height-100v {
        padding-top: 250px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .height-100v {
        padding-top: 410px !important;
        padding-bottom: 0px !important;
    }
}