.dropdown-menu.show {
    display: block;
    position: absolute;
}

.btn_ver {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #fff !important;
    font-size: 20px !important;
}

.btn-group,
.btn-group-vertical {
    -webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 10%) !important;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 10%)!important;
    border-radius: 3px;
}

.field-error {
    color: #FF0000;
    font-size: 85%;
}

.ul_align1 {
    margin-left: 70%;
    margin-top: 2.5%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .collapse:not(.show) {
        display: block !important;
    }
    .ul_align1 {
        margin-left: 30%;
        margin-top: -12.5%;
        padding-left: 17%;
        padding-right: 12%;
    }
    .navbar-dark .navbar-brand {
        margin-top: 0px !important;
        margin-left: 5px !important;
        font-size: 15px;
    }
    .toggl_bar_new {
        font-size: 25px !important;
    }
    .margin_top_5 {
        height: 45px !important;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .ul_align1 {
        margin-left: 30%;
        margin-top: -11%;
        padding-left: 17%;
        padding-right: 12%;
    }
}

@media (min-width: 370px) and (height: 812px) {
    .ul_align1 {
        margin-left: 30%;
        margin-top: -12%;
        padding-left: 17%;
        padding-right: 12%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .collapse:not(.show) {
        display: block !important;
    }
    .ul_align1 {
        margin-left: 60%;
        margin-top: -6.9%;
        padding-left: 16%;
        padding-right: 6%;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .ul_align1 {
        margin-left: 46%;
        margin-top: 3%;
        padding-left: 16%;
        padding-right: 0%;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 1700px) and (max-width: 2100px) {
    .ul_align1 {
        margin-left: 82%;
        margin-top: 1.6%;
    }
}