.signup-details {
    min-width: 24%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    border-radius: 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}
#password{
    margin-bottom: 0% !important;
}
/* #btnLogin{
    cursor: not-allowed!important;
} */
.position1 {
    position: relative
}

.position2 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 36%;
}

.form-input {
    width: 100%;
    box-sizing: border-box !important;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.color-info {
    color: grey !important;
}
.not-allowed {
    cursor: not-allowed !important;
    /* pointer-events:none; */
    
 }
.color-danger {
    color: red !important;
    font-weight: 500;
    font-size: 11px !important;
}

 ::ng-deep .signup-details .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.55em 0 0.55em 0 !important;
}

 ::ng-deep .signup-details .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.65em) scale(0.75) !important;
    width: auto;
    background-color: white;
    padding-bottom: 0px;
    height: auto;
    padding-left: 2px;
    font-size: 16px;
    padding-right: 8px !important;
}

 ::ng-deep .signup-details .mat-form-field-label {
    transform: translateY(-0.30em) scale(1) !important;
    font-size: 12px;
}

.signup-header-style {
    font-size: 20px;
    color: #0275d8;
    font-weight: 500;
}

.form-input .mat-icon {
    color: black;
    opacity: 0.5;
    font-size: 22px !important;
    cursor: pointer;
}

.back-button .mat-icon {
    font-size: 18px !important;
    line-height: 22px;
}

.signup-button .mat-icon {
    font-size: 18px !important;
    line-height: 22px;
}

.signup-button:hover:not([disabled]),
.signup-button:focus:not([disabled]),
.back-button:hover:not([disabled]),
.back-button:focus:not([disabled]) {
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    color: white !important;
    border: none;
    outline: none;
}

.signup-button,
.back-button,
.otp_verify {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
    min-width: 100%;
    margin-bottom: 10px;
    font-weight: 400 !important;
    color: white !important;
    border-color: transparent;
}

.signup-button {
    background-color: #0275d8 !important;
}

.back-button {
    background-color: #5cb85c !important;
}

.otp_verify {
    background-color: #5cb85c !important;
}

 ::ng ::ng-deep .mat-grid-tile .mat-figure {
    align-items: left !important;
    justify-content: left !important;
}

button {
    font-weight: 500 !important;
}

h1.framework-app-name {
    margin-left: 8px;
    text-align: center !important;
}

.framework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-color {
    max-height: 60px;
    background-color: rgb(6, 111, 197);
    color: white !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.validation {
    color: red;
    font-size: 12px;
    text-align: left !important;
}

a {
    text-decoration: none !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    .signup-details {
        min-width: 90%;
    }
    .width_50 {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .signup-details {
        min-width: 45%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .signup-details {
        min-width: 40%;
    }
}