h1.framework-app-name {
    margin-left: 8px;
    text-align: center !important;
}

.framework-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.b-color {
    max-height: 60px;
    background-color: rgb(6, 111, 197);
    color: white !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ul_align {
    margin-top: 7% !important;
    margin-left: -30%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .collapse:not(.show) {
        display: block !important;
    }
    .ul_align {
        margin-left: 41%;
        margin-top: -23% !important;
        padding-left: 17%;
        padding-right: 0%;
    }
    .navbar-dark .navbar-brand {
        margin-top: 0px !important;
        margin-left: 5px !important;
        font-size: 15px;
    }
    .toggl_bar_new1 {
        font-size: 25px !important;
    }
    .margin_top_5 {
        height: 45px !important;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .ul_align {
        margin-left: 46%;
        margin-top: -20% !important;
        padding-left: 17%;
        padding-right: 0%;
    }
}

@media (min-width: 370px) and (height: 812px) {
    .ul_align {
        margin-left: 40%;
        margin-top: -22% !important;
        padding-left: 17%;
        padding-right: 0%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .collapse:not(.show) {
        display: block !important;
    }
    .ul_align {
        margin-left: 65%;
        margin-top: -12.6% !important;
        padding-left: 16%;
        padding-right: 0%;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .ul_align {
        margin-left: -20%;
        margin-top: 10% !important;
        padding-left: 16%;
        padding-right: 0%;
    }
    .toggle_bar {
        position: absolute !important;
        right: 0 !important;
        top: 10% !important;
    }
}

@media (min-width: 1700px) and (max-width: 2100px) {
    .ul_align {
        margin-left: 0%;
        margin-top: 6% !important;
    }
}