.tab-content {
    padding-left: 15px !important;
    padding-right: 15px;
}

.form-control {
    height: 40px;
    color: #000 !important;
}


/* css for label active start */

.form-group {
    position: relative;
}

.form-control {
    height: 40px;
}

.form-control:focus {
    box-shadow: none;
}

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
    font-weight: normal;
}

.form-control:focus~.form-label {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
    color: #0275d8 !important;
}

.form-label.active {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
}

.form-control:focus {
    border: 1.5px solid#0275d8 !important;
}


/* end label css */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(134, 125, 125) !important;
}

.even {
    background-color: transparent !important;
}

.odd {
    background-color: transparent !important;
}

.dataTables_wrapper .dataTables_info {
    color: #dcdcdc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #dcdcdc;
}

.dataTables_wrapper .dataTables_length select {
    color: #dcdcdc !important;
}

.dataTables_empty {
    border-bottom: 1px solid #eee;
}

.nav-tabs {
    padding-left: 15px;
}

.form-outline .form-control {
    margin-top: 0%;
    font-size: 15px;
}

.form-outline .form-control~.form-label {
    position: absolute;
    top: 0;
    font-size: 15px;
}

.addBtnForm {
    margin-right: 0%;
    /* margin-top: 11.5%; */
}

.addbutton11:hover {
    color: green;
}

.addbutton11:focus {
    color: green;
}

.addbutton:focus {
    color: green;
}

label {
    display: inline-flex;
    font-weight: 100 !important;
    /* color: #000 !important; */
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    display: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

.addbutton {
    /* color: green!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: green;
    margin-right: 2%; */
    padding-left: 2% !important;
    width: 0%;
}

.addbutton1 {
    background-color: #f0f8ff!important;
    float: right;
    padding: 2px 5px;
    border-radius: 50px;
    right: 25.5%;
    position: absolute;
    z-index: 1;
    color: green;
    top: 50%;
}

.addbutton:hover {
    color: green;
}

.btn_e_i_d {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 30%;
    padding-right: 0%;
}

.btn1_e1_i1_d1 {
    float: right;
    right: 0%;
    position: relative;
    z-index: 1;
    top: 38.5%;
    width: 31%;
}

#saveCloseBtnEdit {
    padding: 0.5rem !important;
}

#saveNewBtnEdit {
    padding: 0.5rem !important;
}

.cancleBtnMain {
    margin-right: 0px !important;
}

.btn2_e2_i2_d2 {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 30%;
    padding-top: 0%;
}

.btn3_e3_i3_d3 {
    float: right;
    right: 0%;
    position: absolute;
    z-index: 1;
    top: auto;
    width: 30%;
    padding-top: 0%;
}

.addbutton11 {
    /* background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: green !important;
    margin-right: 2%; */
    padding-left: 2.5% !important;
    width: 0%;
}

.btnexport {
    /* color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%; */
    padding-left: 2% !important;
    width: 0%;
}

.btnexport11 {
    /* color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%; */
    padding-left: 2.5% !important;
    width: 0%;
}

.btninport {
    /* color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%; */
    padding-left: 2% !important;
    width: 0%;
}

.btninport11 {
    /* color: #03a9f4!important;
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    margin-right: 2%; */
    padding-left: 2.5% !important;
    width: 0%;
}

.btnupload {
    /* background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(63, 81, 181); */
    padding-left: 2.5% !important;
    width: 0%;
}

.btnpencil {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(63, 81, 181);
    z-index: 1;
}

.btntrasht {
    background-color: #f0f8ff!important;
    padding: 2px 5px;
    border-radius: 50px;
    color: rgb(244, 67, 54);
    z-index: 1;
}

.dataTables_length,
.dataTables_info {
    visibility: initial !important;
}

#example_length {
    visibility: hidden;
}

#saveCloseBtn {
    padding: 8px !important;
}

#saveNewBtn {
    padding: 8px !important;
}

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input {
    width: auto;
    width: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
    background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
    background: -o-linear-gradient(top, #fff 0%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    border: 0px solid;
}

.page-item.active .page-link {
    background-color: #03a9f4!important;
    border-radius: 50px;
}

#mySidenav {
    margin-top: 60px;
}

.login-details {
    min-width: 24%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    border-radius: 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}

.form-input {
    width: 100%;
    box-sizing: border-box !important;
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.position1 {
    position: relative
}

.position2 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 30%;
}

.login-header-style {
    font-size: 20px;
    color: #0275d8;
    font-weight: 500;
    text-align: center;
}

.login-button .mat-icon {
    color: white;
    font-size: 18px !important;
    line-height: 22px;
}

.signup-button .mat-icon {
    color: white;
    font-size: 18px !important;
    line-height: 22px;
}

.login-button:hover:not([disabled]),
.login-button:focus:not([disabled]),
.signup-button:hover:not([disabled]),
.signup-button:focus:not([disabled]) {
    -webkit-box-shadow: 2px 4px 8px grey;
    -moz-box-shadow: 2px 4px 8px grey;
    box-shadow: 2px 4px 8px grey;
    color: white !important;
    border: none;
    outline: none;
}

.color-info {
    color: grey !important;
}

.btn-group .dropdown-toggle::after {
    display: none;
}

.main {
    margin-left: 210px;
    font-size: 28px;
    padding: 0px 10px;
}

.modal {
    padding-right: 0px !important;
}

.btn-danger {
    padding: 0.5rem 0.5rem !important;
}

.md_space {
    margin-top: 1%;
}

.columnwidth {
    width: 50px;
}

.firstblock {
    padding: 10px;
    border-radius: 4px;
    /* box-shadow: 2px 3px 8px rgba(0, 0, 0, .3); */
}

.modal-content {
    background: linear-gradient( 45deg, #0c675e, #069e90) !important;
}

INPUT:not(:-webkit-autofill),
SELECT:not(:-webkit-autofill),
TEXTAREA:not(:-webkit-autofill) {
    animation-name: onautofillcancel !important;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
}

#EmployeeDetailsModel {
    font-size: 15px;
    margin-bottom: -5px;
}

#btnSaveAndClose {
    padding: .625rem .5rem .5rem;
}

#btnSaveAndCreateNew {
    padding: .625rem .5rem .5rem;
}

#btnAddProject {
    padding: .625rem .5rem .5rem;
}

#btnAddPerformanceDetails {
    padding: .625rem .5rem .5rem;
}

#technology {
    padding-top: 0px !important;
}

.btnpencil:hover {
    color: rgb(63, 81, 181) !important;
}

.btnpencil:focus {
    color: rgb(63, 81, 181) !important;
}

.btntrasht:hover {
    color: rgb(244, 67, 54) !important;
}

.btntrasht:focus {
    color: rgb(244, 67, 54) !important;
}

.btnupload:hover {
    color: rgb(63, 81, 181) !important;
}

.btnupload:focus {
    color: rgb(63, 81, 181) !important;
}

.select_form {
    font-size: initial !important;
}

.modal-backdrop {
    z-index: 1 !important;
}

.modal-body {
    padding-bottom: 0% !important;
}

.form_div_new {
    padding: .5rem !important;
}

.form_div {
    padding: 0.5rem !important;
    margin-bottom: -2%;
}

.form_div1 {
    padding: 0.25rem !important;
}

.modal-header {
    padding: 0.5rem 0.5rem !important;
}

.modal-footer {
    padding: 0.5rem !important;
}

.nav_tab_top {
    margin-top: 10% !important;
}

.nav-link[data-toggle]:not(.collapsed):after {
    font-size: 0px !important;
}

@media (min-width: 320px) and (max-width: 321px) {
    .modal-footer {
        padding: .1rem !important;
    }
    .nav-tabs .nav-link {
        padding: 17px 10px 16px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left !important;
    }
    /* div.dataTables_wrapper div.dataTables_length select,
    div.dataTables_wrapper div.dataTables_length input {
        margin-left: 13%;
        margin-right: 5%;
    } */
    div.dataTables_wrapper div.dataTables_length select {
        margin-left: 10%;
    }
    #table_filter,
    #projectDetailsTb_filter,
    #performanaceDetailsTb_filter {
        margin-left: 0% !important;
    }
    #EmployeeDetailsModel {
        font-size: 18px;
        margin-bottom: 2%;
        margin-top: -3%;
    }
    .form_div_new {
        padding: 1rem !important;
    }
    .btn_e_i_d {
        width: 33%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
        width: 22% !important;
    }
    .nav-tabs .nav-item {
        width: 53%;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
        width: 22% !important;
    }
    .addbutton,
    .btninport,
    .btnexport {
        padding-left: 7% !important;
        width: 0%;
    }
    .addbutton11,
    .btnexport11 {
        padding-left: 10% !important;
    }
    .cancleBtnMain {
        margin-left: -4% !important;
        margin-right: 0% !important;
        font-size: 9px !important;
    }
    .btn_save {
        font-size: 9px !important;
    }
    .btn_update {
        font-size: 9px !important;
    }
    .modal-footer {
        padding: .5rem !important;
        margin-top: 10%;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    #table_filter,
    #projectDetailsTb_filter,
    #performanaceDetailsTb_filter {
        margin-left: -3% !important;
    }
    .btn_e_i_d {
        width: 29%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
        width: 20% !important;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
        width: 20% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .btn_e_i_d {
        width: 46%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
        width: 43% !important;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
        width: 43% !important;
    }
    #EmployeeDetailsModel {
        font-size: 15px;
        margin-bottom: 1%;
        margin-top: -3%;
    }
    .ipad_height {
        height: 555px;
    }
    .nav_tab_top {
        margin-top: 0% !important;
    }
    .modal.show .modal-dialog {
        max-width: 95% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .btn_e_i_d {
        width: 35%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
        width: 40% !important;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
        width: 40% !important;
    }
    .ipad_height {
        height: 560px;
    }
    #EmployeeDetailsModel {
        margin-bottom: 5px;
    }
}

@media (min-width: 1201px) and (max-width: 1365px) {
    #EmployeeDetailsModel {
        margin-bottom: 1%;
        margin-top: -1%;
    }
}

@media (min-width: 1700px) and (max-width: 2100px) {
    .btn_e_i_d {
        width: 19%;
    }
    .btn2_e2_i2_d2 {
        top: auto !important;
        width: 28% !important;
    }
    .btn3_e3_i3_d3 {
        top: auto !important;
        width: 28% !important;
    }
    .ipad_height {
        height: 566px;
    }
}