.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
}

.inputDnD .form-control-file::before {
    content: "\f0ee";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 1px dashed currentColor;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}

.inputDnD .form-control-file::after {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 2.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}

.btn-block {
    text-align: initial!important;
    padding-left: 0px!important;
}

.txt_color {
    color: #fff !important;
}

.btn_back {
    color: #fff !important;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
}

.bulkimport_container {
    padding: 1% 2% 2% 2%;
    box-shadow: 0px 2px 4px 3px rgb(0, 0, 0, 30%);
    -webkit-box-shadow: 0px 2px 4px 3px rgb(0, 0, 0, 30%);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
}

.margin_top_2 {
    margin-top: 2%!important;
}

.ip_bg_color {
    background-image: linear-gradient(135deg, #f5f5f5, rgba(158, 203, 236, .2), #fff);
}

#uploadDoc,
#uploadImg {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .3)!important;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .3)!important;
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .3)!important;
    color: #fff !important;
    font-weight: 1000 !important;
    width: 100% !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    .m_margin_top {
        margin-top: 1%;
    }
    #uploadDoc,
    #uploadImg {
        width: 65% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .m_margin_top {
        margin-left: 5% !important;
    }
    #uploadDoc,
    #uploadImg {
        width: 135% !important;
    }
}