.form-group {
    position: relative;
}

.form-control {
    height: 40px;
}

.form-control:focus {
    box-shadow: none;
}

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .3s;
    font-weight: normal;
}

.form-control:focus~.form-label {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
    color: #0275d8 !important;
}

.form-label.active {
    left: 5px;
    top: -10px;
    background: #fff;
    padding: 0 5px;
}

.form-control:focus {
    border: 1.5px solid#0275d8 !important;
}




.form-control-position {
    position: absolute;
    top: 10px !important;
}

.position_new {
    position: relative;
}

.position_new1 {
    opacity: .5;
    position: absolute;
    right: 2%;
    top: 30%;
}

.color-info {
    color: grey !important;
}

.color-danger {
    color: red !important;
    font-weight: 500;
    font-size: 11px !important;
}

@media (min-width: 320px) and (max-width: 321px) {
    .height-100v {
        padding-top: 95px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 322px) and (max-width: 767px) {
    .height-100v {
        padding-top: 135px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 370px) and (height: 667px) {
    .height-100v {
        padding-top: 145px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 375px) and (height: 812px) {
    .height-100v {
        padding-top: 215px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .height-100v {
        padding-top: 175px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .height-100v {
        padding-top: 315px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .height-100v {
        padding-top: 485px !important;
        padding-bottom: 0px !important;
    }
}