.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
   
    
  }
 .inputDnD .form-control-file::before {
      content: "\f0ee";
      font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
      
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 100%;
      min-height: 6em;
      line-height: 2em;
      padding-top: 1.5em;
      opacity: 1;
      visibility: visible;
      text-align: center;
      border: 1px dashed currentColor;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      overflow: hidden;
    }
    .inputDnD .form-control-file::after {
        content: attr(data-title);
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 100%;
        min-height: 6em;
        line-height: 2em;
        padding-top: 2.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
       
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        overflow: hidden;
    }
    .btn {
        -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.1);
        box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.1);
    }
    .btn:hover{
       -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.1);
       box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.1);
       text-decoration: underline;
       color: #56aaf5;
   }
   .btn-block{
        text-align: initial!important;
        padding-left: 0px!important;
   }
   .txt_color{
    color: #56aaf5;
   }
   .btn_back{
        border-radius: 100px !important;
        width: 4%;
        background-color: #fff!important;
        color: #56aaf5!important;
        box-shadow: 2px 3px 4px rgba(0,0,0,.3);
        -webkit-box-shadow: 2px 3px 4px rgba(0,0,0,.3);
        -moz-box-shadow: 2px 3px 4px rgba(0,0,0,.3);
   }
   .bulkimport_container{
        padding: 1% 2% 2% 2%;
        box-shadow: 2px 3px 4px rgba(0,0,0,.3);
        -webkit-box-shadow: 2px 3px 4px rgba(0,0,0,.3);
        -moz-box-shadow: 2px 3px 4px rgba(0,0,0,.3);
    }
    .margin_top_7{
        margin-top:7%;
    }
    .margin_top_2{
        margin-top:2%;
    }
    input{
        background-image: linear-gradient(135deg,#f5f5f5,rgba(158,203,236,.2),#fff);
    }
    .mainDiv{
        margin-top: 70px;
    }